/* COLOR PALETTE
  background: lighter: #cad2c5
  panels salaat: light: #84a98c
  base: #52796f
  big panel: dark: #354f52
  title: darker: #2f3e46

  Night Mode
  background / panels salaat: #34495e
  text-color: #ecf0f1
  big panel: #243342
*/

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	line-height: 1;
	font-family: Inter, sans-serif;
	background-color: #b0bda8;
	color: #2f3e46;
}

.container {
	max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}

#container-menu {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 1000;
}

#menu {
	cursor: pointer;
	width: 50px;
	height: auto;
}

#menu:hover {
    scale: 110% 110%;
    transition-duration: 300ms;
}

.head {
	display: flex;
    align-items: center;
    padding: 16px;
    background-color: #84a98c;
    border-radius: 16px;
}

.title {
	margin: 0 auto;
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	text-align: left;
	width: 100%;
	max-width: 540px;
	margin-left: 10%;
}

.side-menu {
    background-color: #84a98c;
    color: #2f3e46;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 16px 16px 0 0;
    visibility: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 50vh;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 500;
    transition: transform 0.3s ease;
    transform: translateY(100%);
	gap: 10px;
}

.side-menu.visible {
    visibility: visible;
    transform: translateY(0);
}

.side-menu a {
    color: #2f3e46;
    text-decoration: none;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.side-menu p {
    padding: 10px;
    transition: background-color 0.3s;
	text-align: center;
}

.side-menu p:hover {
    background-color: #52796f;
    color: #b0bda8;
}

button {
    border-radius: 16px;
    padding: 16px;
    background-color: #52796f;
    border: none;
    cursor: pointer;
    color: #b0bda8;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 10px;
}

button:hover {
    background-color: #354f52;
    scale: 110% 110%;
    transition-duration: 300ms;
}

@media all and (max-width: 750px) {

    .title {
        text-align: center;
        margin-left: 0;
    }

    button {
        width: 100%;
    }

    #container-menu {
        position: fixed;
        bottom: 16px;
        left: 16px;
        z-index: 1000;
    }

    #menu {
        cursor: pointer;
        width: 50px;
        height: auto;
    }
}

@media all and (min-width: 751px) {
	
    .side-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 30%;
        max-width: 300px;
        height: 100vh;
        visibility: hidden;
        padding: 16px;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
        border-radius: 0 0 16px 0;
        transform: translateX(-100%);
		gap: 10px;
    }

    .side-menu.visible {
        visibility: visible;
        transform: translateX(0);
    }

    #container-menu {
        position: fixed;
        top: 16px;
        left: 16px;
        z-index: 1000;
    }

	#menu {
        width: 60px;
    }
}

@media all and (max-width: 450px) {
	#menu {
        width: 45px;
    }
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 16px;
}

#container-map {
    margin: 16px;
	padding: 8px;
	border-radius: 16px;
	background-color: #52796f;
    height: 60vh;
    width: 100%;
}

/* Night Mode */
body.night-mode {
	background-color: #34495e;
	color: #ecf0f1;
}

body.night-mode #live-clock,
body.night-mode .side-menu p {
    color: #ecf0f1;
}

body.night-mode button,
body.night-mode .head,
body.night-mode .side-menu  {
	background-color: #243342;
	color: #ecf0f1;
}

body.night-mode button:hover {
	background-color: #233241;
	color: #ecf0f1;
}

body.night-mode .side-menu p:hover {
    background-color: #34495e;
    color: #ecf0f1;
}
